COMBATROL_READ_TOKEN=cambia_esto
COMBATROL_ADMIN_TOKEN=cambia_esto
COMBATROL_GOOGLE_CLIENT_ID=14873724881-4h54fdp91rnmf3ri86u411uhn7v0dves.apps.googleusercontent.com
COMBATROL_ADMIN_EMAIL=javier.m.gallego@gmail.com
